<div class="about-container">
    <div class="about-photo">
      <img src="/assets/img/Niels.jpg" alt="Afbeelding van Niels">
      <img src="/assets/img/Niels_2.jpg" alt="Afbeelding van Niels">
    </div>
    <div class="about-info">
      <h2>Over Mij</h2>
      <p>
        Hi, ik ben Niels, 23 jaar en ik ben onlangs afgestuurd aan de opleiding informatica aan de Hogeschool Leiden, waar ik de richting Interactie technologie volgde.
        
        Bij deze richting hield ik mij onder andere bezig met het ontwikkelen en gebruiksvriendelijk maken van zowel hardware als software. Maar ook werkte ik met andere technologieën, zoals machine learning.
        <br><br>

        Tijdens mijn opleiding heb ik met veel verschillende technieken en technologieën gewerkt die mijn vaardigheden in het vakgebied hebben aangescherpt.

        
      </p>
      <p>
        Ik ben een sociaal persoon en werk graag met anderen samen. 
        Ik ben leergierig en ben altijd op zoek naar manieren om mezelf te verbeteren.
         Wat ik het mooiste vind, is als ik anderen kan helpen, bijvoorbeeld 
         door iets te maken dat het leven van anderen makkelijker maakt.
      </p>
      <p>
        Naast mijn interesse in technologie, ga ik graag naar de sportschool. Muziekproductie is ook een grote hobby van mij. Ik kan hier echt in opgaan en vind het gaaf om nieuwe geluiden en tracks te creëren.
      </p>
      <div class="about-photo-mobile">
        <img src="/assets/img/Niels.jpg" alt="Afbeelding van Niels">
        <img src="/assets/img/Niels_2.jpg" alt="Afbeelding van Niels">
      </div>
    </div>
  </div>