  <div class="contact-container">
        <h2>Mijn Contactinformatie</h2>
        <div class="contact-item">
            <label>Telefoon:</label>
            <p>+31 6 4154 4103</p>
        </div>
        <div class="contact-item">
            <label>E-mail:</label>
            <p><a href="mailto:email@example.com">nielslusink12&#64;gmail.com</a></p>
        </div>
        <div class="contact-item">
            <label>Adres:</label>
            <p>Voorhout, Nederland</p>
        </div>
        <div class="contact-item">
            <label>LinkedIn:</label>
            <p><a href="www.linkedin.com/in/niels-lusink-676405233" target="_blank">www.linkedin.com/in/niels-lusink-676405233</a></p>
        </div>
    </div>