<div class="work-container">
    <div class="work-row">
        <div class="work-description">
            <h3>Interactieve schoolplaten Schooltv</h3>
            <p>
              Voor mijn afstudeerstage heb ik bij de NTR gewerkt aan het toegankelijk maken van de interactieve schoolplaten die worden aangeboden op de Schooltv-website, 
              volgens de WCAG 2.2-richtlijnen. De schoolplaten worden door de redactie van Schooltv gemaakt in het platform <b>Micrio</b>.
              <br><br>
              Ik heb tijdens dit project onder andere aanpassingen doorgevoerd in het Micrio platform, in samenwerking met het softwarebedrijf Q42. Deze aanpassingen waren bedoelt
              om het platform beter bruikbaar te maken voor de redactie en om de toegankelijkheid van interactieve schoolplaten te verbeteren. 
  
              
              <br><br>
  
              Daarnaast heb ik de ingesloten code, waarin de Micrio-content wordt verwerkt, 
              geoptimaliseerd om te voldoen aan de toegankelijkheidseisen vanuit de WCAG 2.2. Zo heb ik bijgedragen aan een inclusievere en gebruiksvriendelijkere ervaring voor alle gebruikers.
              
              <br><br>

              Tijdens dit traject heb ik o.a. gewerkt met het <b class="framework">Svelte framework</b>  en <b class="framework">Figma</b>. 
            </p>
              <div class="button-container">
                <a href="https://schooltv.nl/zoeken?media_types=schoolplaat" class="link-button" target="_blank">Bekijk Schoolplaten</a>
                <a href="https://micr.io/" class="link-button" target="_blank">Bezoek Micr.io</a>
            </div>

  
        </div>
        <div class="work-photos">
          <img src="/assets/img/Schoolplaat_home.png" alt="Screenshot van de Schoolplaat homepagina" (click)="openModal('/assets/img/Schoolplaat_home.png')">
          <img src="/assets/img/Schoolplaat_main.png" alt="Screenshot van de hoofdinhoud van een interactieve schoolplaat" (click)="openModal('/assets/img/Schoolplaat_main.png')">
          <img src="/assets/img/Schoolplaat_popup.png" alt="Screenshot van een popup met extra informatie op een interactieve schoolplaat" (click)="openModal('/assets/img/Schoolplaat_popup.png')">
        </div>
    </div>
  
    <div class="work-row">
        <div class="work-description">
            <h3>Looper</h3>
            <p>
              Voor een studieproject heb ik Looper gebouwd, een website waar muzikanten hun composities kunnen delen, andere muzikanten kunnen ontmoeten en inspiratie 
              kunnen opdoen. Hierdoor kunnen gebruikers gemakkelijk met elkaar communiceren en muziek delen in een veilige, interactieve omgeving. 
              Gebruikers kunnen een account aanmaken, mp3’s uploaden en allerlei relevante informatie over de geüploade compositie bijvoegen. 

              <br><br>
              Ik heb dit platform ontwikkeld met <b class="framework">Angular</b> als framework en <b class="framework">Firebase</b> als backend.

            </p>
        </div>
        <div class="work-photos">
          <img src="/assets/img/Looper_home.png" alt="Screenshot van de Looper homepagina" (click)="openModal('/assets/img/Looper_home.png')">
          <img src="/assets/img/Looper_player.png" alt="Screenshot van de Looper muziekspeler" (click)="openModal('/assets/img/Looper_player.png')">
          <img src="/assets/img/Looper_login.png" alt="Screenshot van het inlogscherm van Looper" (click)="openModal('/assets/img/Looper_login.png')">
        </div>
    </div>
  
    <div class="work-row">
        <div class="work-description">
            <h3>OneTwoModel</h3>
            <p>
              Mijn meeloop stage in het derde jaar was gericht op het onderzoeken en veranderen van de userflow van de OneTwoModel applicatie. 
              OneTwoModel was een startup bedrijf waar aspirante modellen op een veilige manier in contact kunnen komen met legitieme modellenbureaus. 
              Veel gebruikers maakte hun profiel niet af. Het gevolg hiervan was dat de applicatie niet goed gebruikt kon worden door deze gebruikers. 

              <br><br>
              Het ontwerpen voor de app gebeurde in het programma <b class="framework">Figma</b>. Het uiteindelijke ontwikkelen in <b class="framework">React Native</b> in combinatie met <b class="framework">Expo</b>.

            </p>
            <div class="button-container">
              <a href="https://onetwomodel.bio.link/" class="link-button" target="_blank">Bezoek OneTwoModel</a>
          </div>
        </div>
        <div class="work-photos">
          <img src="/assets/img/OTM_home.png" alt="Screenshot van de OneTwoModel homepagina" (click)="openModal('/assets/img/OTM_home.png')">
          <img src="/assets/img/OTM_profile.png" alt="Screenshot van een gebruikersprofiel op OneTwoModel" (click)="openModal('/assets/img/OTM_profile.png')">
          <img src="/assets/img/OTM_premium.jpg" alt="Screenshot van de premiumfuncties van OneTwoModel" (click)="openModal('/assets/img/OTM_premium.jpg')">
        </div>
    </div>
  
    <div class="work-row">
        <div class="work-description">
            <h3>MoodMusic</h3>
            <p>
              Voor een studieproject heb ik de MoodMusic app gebouwd. MoodMusic is een mobiele applicatie ontworpen om muziek te selecteren op basis van de stemming van de gebruiker. 
              Op basis van de geselecteerde stemming, biedt de app een selectie van muzieknummers die passen bij die emotie.
              De app bevat een intuïtieve en gebruiksvriendelijke interface, dat gebruikers helpt bij het kiezen van muziek die hun huidige emotionele staat weerspiegelt. 
              
              <br><br>
              De app is gerealiseerd door gebruik te maken van technologieën zoals <b class="framework">Expo</b>, <b class="framework">React Native</b>, en externe APIs voor muziekgegevens.

            </p>
        </div>
        <div class="work-photos">
          <img src="/assets/img/Moodmusic_1.jpeg" alt="Screenshot van de MoodMusic applicatie met stemming selectie" (click)="openModal('/assets/img/Moodmusic_1.jpeg')">
          <img src="/assets/img/Moodmusic_2.jpg" alt="Screenshot van een afspeellijst gebaseerd op stemming in MoodMusic" (click)="openModal('/assets/img/Moodmusic_2.jpg')">
          <img src="/assets/img/Moodmusic_3.jpeg" alt="Screenshot van een muziekaanbeveling in MoodMusic" (click)="openModal('/assets/img/Moodmusic_3.jpeg')">
        </div>
      </div>

    <div class="work-row">
      <div class="work-description">
          <h3>Het Water Komt</h3>
          <p>
            Voor de NTR heb ik de app samen met twee andere studenten de <b>Het Water Komt</b> app naar de HoloLens 2 gebracht. 
            In deze versie worden de podwalks uit de originele app vertaald naar een mixed reality-ervaring. Terwijl gebruikers wandelen, 
            kunnen ze niet alleen luisteren naar de verhalen over de watersnoodramp, maar ook holografische visuals zien en ermee interacteren, 
            waardoor de geschiedenis letterlijk tot leven komt.
            
            <br><br>
            De HoloLens 2-app die we hebben ontwikkeld voor "Het Water Komt" is  gebouwd in <b class="framework">Unity</b>.
          </p>
          <div class="button-container">
            <a href="https://npo.nl/innovatie/projecten/smart-glass-ntr" class="link-button" target="_blank">Bekijk NPO Project</a>
        </div>
      </div>
    <div class="work-photos">
  
    </div>
  </div>
  
    <div *ngIf="isModalOpen" class="modal open" (click)="closeModalOnBackdropClick($event)">
      <span class="close" (click)="closeModal()">&times;</span>
      <img class="modal-content" [src]="modalImage" alt="Modal Image">
      <div class="caption">{{ modalCaption }}</div>
    </div>
  </div>