/* src/styles.css */

/* Light and Dark Mode Styles */
body.light {
  margin: 0;
  background-color: white;
  color: black;
}

body.dark {
  margin: 0;
  background-color: #121212;
  color: white;
}


/* Dark mode styles */
body.dark .about-container .about-info p {
  color: white;
}

/* Light mode styles */
body.light .about-container .about-info p {
  color: black; /* Or any color you want for light mode */
}

/* Dark mode styles */
body.dark .contact-container {
  background-color: #121212;
  border: none;
}

/* Dark mode styles */
body.dark .contact-container .contact-item p{
  color: white;
}

/* Dark mode styles */
body.dark .contact-container .contact-item p a{
  color: white;
}

/* Light mode styles */
body.light .about-container .about-info p {
  color: black; /* Or any color you want for light mode */
}

/* Dark mode styles */
body.dark .nav-balk {
  background-color: #121212;
  box-shadow: 0 1px  rgba(255, 255, 255, 0.1);
}

/* Dark mode styles */
body.dark .nav-balk nav {
  background-color: #121212;
}

/* Dark mode styles */
body.dark .work-container .work-row {
  background-color: #121212;
  border-bottom: none;

}

/* Dark mode styles */
body.dark .work-container .work-row .work-description p {
  color: white;
}
